
server {
    listen 80;
    server_name {{ revproxy_pgadmin }};

    location / {

        proxy_pass http://{{ ansible_default_ipv4.address }}:8080;
        proxy_set_header Host $host;
        proxy_redirect off;
    }
}


